    <!DOCTYPE html>
    <html lang="en">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <title>Django_todo_AJAX</title>
        <link href="{% static 'css/main.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="{% static 'js/main.js' %}"></script>
    </head>
    <body class="bodycolor">
    <div class="mt-3 container text-center"> 
    <div class="col-md-6 bgcolor pb-2 border-1  shadow-lg rounded text-center ">    
    <form method="POST" action="" id="taskform">
        {% csrf_token %}
        {{ form }}<br><br>
        <button type="submit" id='Tsubmit' class="btn btn-primary btn-block">Create Task</button>
    </form>
        </div>
        <hr>
        </div>
    <div id="taskdiv" class="container"></div>


    </body>
    </html>